@import url('./__video/content-title__video.css');
    
.video__title{
    position: absolute;
    top: 5em;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    margin: 0;
    margin-left: 30px;
    width: 322px;
    z-index: 2;
}
