.lead__subtitle {
    max-width: 583px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 78px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 1.875rem;
}